body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

html, body {
  background: dodgerblue;
  color: #fff;
  margin:0;
  padding: 0;
  padding-top: 10px;
  text-align: center;
}

body {
  font-weight: 400;
}

button {
  display: block;
  margin: 0 auto;
  border: none;
  background: #a80020;
  background: lightgray;
  padding: 10px 20px;
  text-transform: uppercase;
}

h1 {
  font-size: 20px;
  text-align:center;
}

textarea {
  color: dodgerblue;
  border: 3px solid black;
  width: 90%;
  margin: 0 auto;
  outline: none;
  height: 200px;
  background:#fff;
  padding: 10px;
}

textarea:disabled {
  background-color: gray;
  color: #fff;
}